backend/dist/

backend/.yarn/
!backend/.yarn/releases
backend/.vscode/*
!backend/.vscode/launch.json
!backend/.vscode/*.code-snippets
backend/.idea/workspace.xml
backend/.idea/usage.statistics.xml
backend/.idea/shelf

backend/node_modules/
backend/.wrangler

backend/.env
backend/.env.production
backend/.dev.vars

backend/logs/
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*
backend/lerna-debug.log*

backend/.DS_Store
backend/src/generated/prisma

common/node_modules/
common/dist/
common/.DS_Store

.DS_Store
*.tsbuildinfo
